@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

/* Add cursor pointer to buttons by default - tailwind */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
